h1 {
    text-align: center;
    background-color: aliceblue;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 20px;
}

img {
    height: 300px;
    width: 280px;
    border-radius: 50px;
    border: 5px double rgba(73, 170, 223, 0.824);
}

.f {
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    place-items: center;
}

button {
    height: 50px;
    width: 100px;
    display: block;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: red;
}

.dark-mode {
    background-color: black;
}

.dark-mode h1 {
    background-color: black;
    color: white;
}